 <%- include("header") -%>

 <h2 class="aboutTitle">This is the about page.</h2>
 <p class="aboutPara">
   Hello, this is Ritesh Kumar. I am Currently IT(Information Technology) undergraduate from University Institute of Technology, The University of Burdwan. I had participated in exams like Olympiads with decent rank. Interested in competitive
   programming. Skilled in Java, C, Data structure and algorithms, and web developments. I have also done several internships.
 </p>

 <%- include("footer") -%>
